.myaccount-container{
    .account-module{
        border: 1px solid #ccc;
        margin-bottom: 20px;
        .module-header{
            margin-bottom: 10px;
            h2{
                font-size: 24px;
                font-family: 'Poynter';
            }
        }
        .inner-text{
            .accountDetails{
                margin-bottom: 10px;
                p{
                    span{
                        font-size: 13.3px;
                        font-family: Lato, sans-serif;
                        font-weight: 600;
                    }
                }
            }
            .btn{
                &-link{
                    background-color: #3d6db5;
                    color: #fff;
                    text-decoration: none;
                    padding-top: 10px!important;
                    padding-bottom: 10px!important;
                    font-size: 13px;
                }
            }
        }
    }
}