@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sarala:wght@400;700&display=swap'); 
@import "~bootstrap/scss/bootstrap";
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@font-face {
    font-family: 'Poynter';
    src: url(fonts/Poynter-Font/PoynterOldstyleDisplay-SemiBold.ttf);
}
@font-face {
    font-family: 'PoynterOSDisp';
    src: url(fonts/PoynterOldstyleDisplay-SemiBdIt/PoynterOldstyleDisplay-SemiBdIt.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}