@import '../../styles/variables.scss';

.home{
    &_icons{
        width: calc(100% - 125px);
        max-width: 1366px;
        min-width: 824px;
        overflow: hidden;
        padding: 20px 0 35px;
        transition: 1s;
        border-top: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;
        &_wrapper{
            width: 100%;
            max-width: 1440px;
            margin: 15px auto 24px;
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            text-align: center;
        }
        .icons_{
            &0{
                width: 84px;
                height: 94px;
            }
            &1{height: 93px;}
            &2{width: 116px;}
            &3{width: 86px;}
            &4{width: 119px}
            &5{width: 119px}
            &6{width: 106px}
        }

        .icon_link{
            width: 185px;
            display: inline-block;
            margin: 0 auto;
            color: #000;
            text-align: center;
        }
        .label{
            margin-top: 10px;
            font-family: Lato, sans-serif;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 400;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}